/* Services Styles */

.glass-panel {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.skew-x-12 {
    transform: skewX(-20deg);
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple-effect:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-left: -120%;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.ripple-effect:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    opacity: 1;
    transition: 0s;
}