/* Loader Animative Styles */

@keyframes shimmer {
    0% {
        transform: translateX(-100%) skewX(-20deg);
    }

    100% {
        transform: translateX(200%) skewX(-20deg);
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite linear;
}

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 0.1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.05;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping {
    animation: ping 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}